@use '../../variables.module.scss' as variables;

.tasks {
	background-color: rgb(15, 15, 15);
	color: variables.$primary-color;
	border: variables.$border;
	border-radius: variables.$border-radius;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
	max-width: 800px;
	padding: 20px;
	margin-top: 20px;
}

.tasks form {
	font-size: 1.1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 20px 0px;
	gap: 10px;
	align-items: flex-end;
	margin: 20px 0px;
}

.tasks form span {
	width: 100%;
	display: flex;
}

.tasks form span:nth-child(2) {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.tasks form span input {
	font-size: 1.3em;
	background-color: variables.$primary-bg-color;
	border: none;
	border-bottom: variables.$border;
	width: 100%;
}

.tasks form span label {
	font-size: 1.3em;
	width: 17%;
}

.tasks form span button {
	background-color: variables.$primary-button-bg-color;
	color: variables.$primary-color;
	border: variables.$border;
	border-radius: variables.$border-radius;
	width: 20%;
	transition: border 0.3s;
	cursor: pointer;
}

.tasks form span button:hover {
	border: 1px solid white;
}

.tasks form input:focus {
	border: none;
	border-bottom: variables.$border;
	outline: none;
}

.addNewTaskButton {
	background-color: rgb(30, 30, 30);
	color: variables.$primary-color;
	border: variables.$border;
	border-radius: variables.$border-radius;
	width: 20%;
}

.task {
	width: 100%;
	border-bottom: variables.$border;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.task span {
	display: flex;
	padding: 5px 10px;
	font-size: 1.3em;
}

.tasks input {
	font-size: 1.3em;
	font-family: inherit;
	background-color: variables.$primary-bg-color;
	border: none;
}

.tasks input:focus {
	border: none;
	outline: none;
}

.buttonTask {
	background-color: transparent;
	color: variables.$primary-color;
	border: none;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 5px;
	transition: transform 0.3s;
}

.buttonTask:hover {
	transform: scale(1.4);
}

.buttonTask:disabled {
	opacity: 0.5;
	transition: none;
}

.buttonTask:disabled:hover {
	transform: none;
}

.buttonTaskCompleted {
	background-color: transparent;
	color: lightgreen;
	border: none;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 5px;
	opacity: 0.4;
	transition: transform 0.3s;
}

.buttonTaskCompleted:hover {
	transform: scale(1.4);
}

.taskText {
	font-size: 1.3em;
}

.completedTaskText {
	text-decoration: line-through;
	color: lightgreen;
	font-size: 1.3em;
}

.editInput {
	width: 400px;
}

.showAddTaskForm {
	width: 100%;
}

.showAddTaskForm button {
	background-color: variables.$primary-button-bg-color;
	color: variables.$primary-color;
	border: variables.$border;
	border-radius: variables.$border-radius;
	width: 100%;
	height: 100px;
	margin: 28px 0px;
	font-size: 1.8em;
	transition: border 0.3s;
	cursor: pointer;
}

.showAddTaskForm button:hover {
	border: 1px solid white;
}

.successMessage {
	font-size: 1.5em;
	color: lightgreen;
	width: 100%;
	max-width: 800px;
	margin-top: 20px;
	padding-left: 10px;
}
